<div class="row justify-content-center align-items-center p-4">
  <div class="col-lg-5 col-md-6 text-center mt-10">

    <div id="container" class="my-2">
      <div id="dummy"></div>
      <div id="element">
        <img src="{{ site.author.image }}" alt="{{ site.title }}" class="circle-image wow animated pulse"
          data-wow-delay=".3s">
      </div>
    </div>
    <p class="text-muted wow animated pulse" data-wow-delay=".3s" style="font-size:30px;">My
      name is Matt and I like
      to <span class="typed-text"></span><span class="cursor">&nbsp;</span></p>
    <script src="{{ '/assets/js/typing.js' | relative_url }}"></script>
  </div>